[Unit]
Description=X-Tream API server

[Service]
Type=simple
User=pi
Group=pi
SupplementaryGroups=gpio i2c spi
WorkingDirectory=/home/pi/xtream

ExecStart=/home/pi/xtream/venv/bin/python /home/pi/xtream/python-src/app.py

Environment=PYTHONUNBUFFERED=1

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
